CompileFlags:
  Add:
    - "-IC:/CPP/mijn-json-kleurkrijt/wjq/libs/simdjson"
    - "-IC:/CPP/mijn-json-kleurkrijt/wjq/src"
    - "-IC:/CPP/mijn-json-kleurkrijt/src"
    - "-IC:/CPP/mijn-json-kleurkrijt/.venv/Lib/site-packages/pybind11/include"
    - "-IC:/Users/administrator/AppData/Roaming/uv/python/cpython-3.12.9-windows-x86_64-none/Include"
    - "-std=c++17"
    - "-D_WIN32"
  Remove:
    - "-W*"
    - "/W*"

Diagnostics:
  UnusedIncludes: Relaxed
  MissingIncludes: Relaxed
  
InlayHints:
  Enabled: No
